<%- include("./partials/header") %>

<div class="row">
    <div class="col-md-12">
        <form class="form-signin" action="/register" method="POST">
			<h1 class="h3 mb-3 font-weight-normal">SIGN UP</h1>
			<label for="inputUsername" class="sr-only">Username</label>
			<input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
			
			<label for="inputAvatar" class="sr-only">Avatar</label>
			<input type="text" id="inputAvatar" class="form-control" name="avatar" placeholder="avatar url" required>
			<label for="inputEmail" class="sr-only">Email</label>
			<input type="email" id="inputEmail" class="form-control" name="email" placeholder="user@email.com" required>
			
  			<button class="btn btn-lg btn-outline-primary btn-block mt-2" type="submit">Sign Up</button>
		</form>
        <div class="form-signin">
			<a href="/events">Go Back</a>
		</div>
    </div>
</div>

<%- include("./partials/footer") %>